 @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800&display=swap');


html{
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.container{
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navbar{
    width: 90%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    
}

.imagen{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img{
    width: 80%;
    vertical-align: top;
}

.header{
    width: 55%;
    align-items: center;
    display: flex;
    justify-content: center;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    width: 100%;
    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    font-size: 170%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    
}

nav ul li a:hover{
    color: #3AB297;
    border-bottom: 3px solid #3AB297;
    transition: .3s ;
}

@media screen and (max-width:1366px) {
    .header{
        width: 65%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    nav ul{
        width: 100%;
        list-style-type: none;
        overflow: hidden;
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    nav ul li a{
        text-decoration: none;
        display: inline-block;
        margin: 10px 20px;
        font-size: 130%;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: #fff;
        justify-content: center;
    }

    .information .info h2{
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 200%;
        color: #fff;
        margin-bottom: 3%;
    }
   .information .info h1{
        font-family: "Montserrat", "sans-serif";
        font-weight: 700;
        font-size: 400%;
        color: #fff;
        margin-top: 2%;
        margin-bottom: 10px;
        line-height: 70px;
    }
    .information .info h3{
        font-family: "Montserrat", "sans-serif";
        font-weight: 300;
        font-size: 100%;
        color: #fff;
        margin-bottom: 10px;
        margin-top: 2px;
       
    }
    .information .info .boton{
        width: 60%;
        height: 10%;
        background-color: #3AB297;
        color: #000;
        font-size: 70%;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        border-radius: 30px;
        padding: 20px 0px;
        margin-top: 4%;
    }
    .information .info p{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 100%;
        color: #fff;
        margin-bottom: 10px;
        margin-top: 7%;
    }
    .fondo{
        width: 100%;
        float: left;
        z-index: 1;
        margin-top: 2%;
        margin-left: 3%;
    }
    .fondo img{
        width: 580%;
    }
}

.circle{
    background-color: hsla(220, 23%, 57%, 0.4);
    filter: blur(15rem);
    border-radius: 50%;
    position: absolute;
}

.circle_big{
    width: 70%;
    height: 70%;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 60%;

   
}

.circle_smaller{
    width: 70%;
    height: 70%;
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 30%;
}

.information{
    width: 100%;
    overflow: hidden;
   
}

.info{
    width: 45%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 7%;
    float: left;
}

.info h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 300%;
    color: #fff;
    margin-bottom: 3%;
}

.info h1{
    font-family: "Montserrat", "sans-serif";
    font-weight: 700;
    font-size: 700%;
    color: #fff;
    margin-top: 2%;
    margin-bottom: 10px;
    line-height: 100px;
}

.info h3{
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    font-size: 200%;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 2px;
}

.info .boton{
    width: 60%;
    height: 60%;
    background-color: #3AB297;
    color: #000;
    font-size: 130%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border-radius: 30px;
    padding: 20px 0px;
    margin-top: 8%;
}
.info .boton:hover{
    background-color: #84cfbf;
    cursor: pointer;
    transition: .3s;
}

.info p{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 150%;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 7%;
}

.fondo{
    width: 30%;
    float: left;
    z-index: 1;
    margin-top: 3%;
    margin-left: 7%;
}
 .fondo img{
    width: 500%;
    
}






